<header>
  <div id="gnb">
    <nav>
      <ul id="menu-list">
        <% const nav = __('nav') %>
        <li class="menu">
          <a href="#"><%= nav.about %></a>
        </li>
        <li class="menu">
          <a href="board"><%= nav.board %></a>
        </li>
        <li class="menu">
          <a href="#"><%= nav.quiz %></a>
        </li>
      </ul>
      <h1 id="nav-logo"><a href="/">HEJHEJKOREAN</a></h1>
      <ul id="top-menu">
        <li><%- include('language') %></li>
        <li id="log-btn">
          <a id="logout-btn" href="#"><%= nav.logout %></a>
        </li>
      </ul>
    </nav>
    <span class="toggleBtn">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
</header>
